{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="card my-5" style="width: 24rem;">
        <div class="card-body my-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <img src="{% static "images/logo_text.svg" %}" alt="" width="280">
                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group my-1">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success w-100 my-2">Log in</button>
                <br>
                <div class="row align-items-center">
                    <span>
                        Don't have an account?
                        <a class="card-link text-decoration-none" href="/accounts/sign_up">Sign up</a>
                    </span>
                </div>
                <div class="row align items-center">
                    <div class="col sm-12">
                        <a class="card-link text-decoration-none" href="/accounts/forgot_password">Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}