{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>{% block title %}SHS{% endblock %}</title>
</head>
<body class="text-center">
<!-- nav bar based on example in Bootstrap documentation -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3867ab">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static "images/logo_square.svg" %}" alt="" width="42">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100 " id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="nav nav-tabs navbar-light col-10">
                    <button type="button" class="btn btn-light" aria-expanded="false">
                            Home
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Add a Course</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Learn About a Course</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Ask About a Course</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Leave a Comment About a Course</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            People
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Professors</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">TAs</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Students</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Alumni</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
                            Topics
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My Topics</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Create a Topic</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Explore Topics</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-light" aria-expanded="false">
                            My Discussions
                    </button>
                </ul>
                <ul class="navbar-nav col-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="badge badge-notify rounded-pill bg-danger">1</span>
                            <img src="{% static "images/bell.svg" %}" height="22">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">Clear</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown col-1">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static "images/person.svg" %}" alt="" height="28">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <div class="dropdown-item-text">{{ user.username }}</div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{% url 'profile' username=user.username %}">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container my-3">
    <div class="row justify-content-center">
        {% block content %}
        {% endblock %}
    </div>
</div>
</div>
</body>















<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.change.org/photos/3/lu/mv/GflumvsQwduMvQs-800x450-noPad.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .nav-item{
        align-content: baseline;
    }

    .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
    }

    .hero-text button:hover {
        background-color: #555;
        color: white;
    }