{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>{% block title %}SHS{% endblock %}</title>
</head>
<body class="text-center">
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col md">
            <div class="row my-2">
                <div class="col-6 text-left">
                    SHS -- logo here?
                </div>
                <div class="col-6 text-right">
                    {% if user.is_authenticated %}
                        Current user:
                        {{ user.username }}
                        (<a href="{% url 'logout' %}">Log out</a>)
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>