{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-grid justify-content-center">
        <div class="row">
            <div class="mb-4">
                <img src="{% static "images/logo_text.svg" %}" alt="" width="280">
            </div>

            <div class="mb-5">
                <h5 style="text-align:left;">Courses</h5>
                <div class="list-group">
                    {% for c in courses %}
                        <a href="{% url 'discussions' course_id=c.id %} "
                           class="list-group-item list-group-item-action"
                           style="text-align:left;">{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div>
                <h5 style="text-align:left;">Recent Discussions</h5>
                <div class="list-group">
                    {% for t in threads %}
                        {% if forloop.counter < 5 %}
                            <a href="{% url 'thread' thread_id=t.id %} "
                               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                               style="text-align:left;">
                                {{ t.subject }}
                                <span class="float-bottom"
                                      style="font-size: 0.75em;">Posted {{ t.timestamp|date:'M d' }} in {{ t.course.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <style>
        body {

        }
    </style>
{% endblock %}