{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="card my-5" style="width: 24rem;">
        <div class="card-body my-1">
            <h1 class="mb-4">{{ user.username }}</h1>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <p>{{ user.role }}</p>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3 mb-0">
                    <a href="{% url 'logout' %}"class="btn btn-sm btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
