{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p>{{ message }}</p>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <a class="card-link text-decoration-none"
                       href="{% url 'profile' username=topic.user.username %}">{{ topic.user.username }}</a>
                </div>
                <div class="col-9">
                    <div class="row">
                        {{ topic.subject }}
                    </div>
                    <div class="row">
                        {{ topic.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for r in replies %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <a class="card-link text-decoration-none"
                               href="{% url 'profile' username=r.user.username %}">{{ r.user.username }}</a>
                        </div>
                        <div class="row">
                            {{ r.timestamp|date:'h:i' }}
                        </div>
                        <div class="row">
                            {{ r.timestamp|date:'m/d/Y' }}
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            {{ r.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}